* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#main {
    max-width: 1100px;
    width: 100%;
    margin: 0px auto;
}

.some_header {
    display: flex;
}

.opt_header {
    width: 25%;
    text-align: center;
    height: 60px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
}

.opt_header > span {
    margin-right: 10px;
}

.opt_header:active {
    background: #CACFD2 !important;
    color: #333;
}


.data_content {
    width: 100%;
    
}

.cont_title {
    width: 100%;
    padding: 10px 20px;
    background: #ccc;
}

.elemts_cont {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /*align-items: flex-start;*/
    /*border: 1px solid #333;*/
}

.home_elem {
    padding: 20px;
    width: 50%;
    /*border: 1px solid #333;*/
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
}

.home_elem:hover {
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.75);
}

.elem_center {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.elem_desc {
    max-height: 20px;
    overflow: hidden;
    margin-bottom: 10px;
    font-weight: 700;
    width: 100%;
}

.elem_photo {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #ccc;
    border-radius: 5px;
    overflow: hidden;
    
}

.elem_photo > img {
    height: 180px;
    width: auto;
    box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.75);
}

.floating_view_data {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    overflow-y: auto;
}

.floating_cont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.floating_content {
    max-width: 1000px;
    background: #fff;
    border-radius: 4px;
    margin: 20px auto;
    padding: 20px 50px;
}

.close_me {
    position: fixed;
    right: 40px;
    top: 20px;
    font-weight: 900;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
}

.floating_items > img {
    text-align: center;
    margin: 10px;
    border-radius: 4px;
}